body{
    font-family: 'Trispace';
}

a{
    text-decoration: none;
    -webkit-transition:  border 1s ease;
    -moz-transition:  border 1s ease;
    -o-transition:  border 1s ease;
    -ms-transition: border 1s ease;
    transition: border 1s ease; 
    border-bottom: 2px solid rgba(51, 51, 51, 0);
}

nav a:hover{
    border-bottom: 2px solid #fff;    
}

h1{    
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 80px;    
    letter-spacing: -3px;    
    color: #333333;
    margin: 26px 0;
}

h2{    
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -2px;
    color: #333333;
    margin: 20px 0;
}

h3, .logo{    
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;    
    letter-spacing: -1px;
    color: #333333;
    margin: 20px 0;
}

h4{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;    
    color: #333333;    
    margin: 20px 0;
}

h5, .dark>h5{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;    
    letter-spacing: 3px;
    text-transform: uppercase;    
    color: #ED3A4E;    
}

label{
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;    
    text-transform: uppercase;    
    color: #333333;    
}

.text_big{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;    
    color: #333333;
}

.text{
    font-family: 'Trispace';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;   
    color: #333333;
}

.dark>*{      
    color: #fff;
}

.text_gray{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;    
    color: rgba(51, 51, 51, 0.5);    
}

.text_small{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;    
    color: rgba(51, 51, 51, 0.5);    
}

::placeholder{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;    
    color: rgba(51, 51, 51, 0.5);    
}