body{
    margin: 0;    
}

button{
    cursor: pointer;
}

header{
    background-color: #210C38;
    background-image: url(../img/blur_dots.svg);
    background-size: cover;
    background-repeat: no-repeat;   
}

.ui-accordion-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #D8D8D8;
    padding: 16px 0;
    flex-direction: row-reverse;
    cursor: pointer;
}

.ui-accordion-header:hover{
    background-color: #dbdbdb1c;
}

.ui-accordion-header {
    margin: 20px 0 0 0;
}

.ui-accordion-header-icon{
    margin-left: auto;
    width: 48px;
    height: 48px;
    background-image: url("../img/accordion_icon.svg");
    cursor: pointer;
    flex-shrink: 0;
}

.ui-tabs-nav{
    display: flex;
    padding: 0;
    column-gap: 42px;
    margin-bottom: 50px;
    justify-content: center;
    width: 100%;
}

.ui-tabs-tab{
    list-style: none;
}

.ui-tabs-panel {
    display: flex;    
    gap: 30px;
    justify-content: space-around;
    flex-wrap: wrap;   
         
}

.ui-tabs-panel>div{    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 370px;
    width: 100%;
    background: #F3F6FA;
    border-radius: 12px;
    padding: 25px 32px 32px 32px;
    box-sizing: border-box;
    cursor: pointer;
    transition: all .5s linear;
}

.ui-tabs-panel>div:hover{    
    box-shadow: 0px 0px 20px 3px rgb(45 126 158);
    cursor: pointer;
}

.ui-tabs-panel button{
    width: 100%;
}
    

.ui-tabs-panel p:first-child{
    text-align: end;
    margin-top: 0;
}

.testimonials  {  
    position: relative;       
}

.testimonials .scroller {  
    overflow: scroll;    
    column-gap: 0;           
    display: flex;    
    scroll-snap-type: x mandatory;         
}

.testimonials .scroller::-webkit-scrollbar {
     width: 0; 
}

.testimonials .item {
    min-width: 100%;  
    max-width: 100%;  
    scroll-snap-align: start;      
    
}  

.btn_next{
    width: 48px;
    height: 48px;
    background: url(../img/icon_next.svg);
    border: none;
    border-radius: 100px;
    position: absolute;
    top: 50%;
    left: 105%;
}

.btn_prev{
    width: 48px;
    height: 48px;
    background: url(../img/icon_prev.svg);
    border: none;
    border-radius: 100px;
    position: absolute;
    top: 50%;
    left: -5%;
}

.btn_next:hover, .btn_prev:hover{        
    /* box-shadow: 0px 0px 20px 1px #ed3a4e; */
    filter: drop-shadow(0px 0px 7px black);
}

.flex{
    display: flex;
}

.align_center{
    align-items: center;
}

.mr-16{
    margin-right: 16px;
}

.wrapper{
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
}

.component_text_img{
    display: flex;
    padding: 96px 0;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}

.component_text_img>.text{
    max-width: 470px;
    flex-shrink: 3;
}

ul{
    list-style: none;
    padding: 0;
}

.component_text_img>.img{    
    flex-shrink: 1;
}

.component_text_img img{    
    width: 100%;
}

.dark_btn_secundary{
    padding: 16px 57.5px;
    border: 1px solid rgba(255, 255, 255, 0.295743);
    border-radius: 6px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px; 
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0);
    transition: all .5s linear;    
}

.dark_btn_secundary:hover{    
    border: 1px solid rgba(45, 126, 158, 1);
    box-shadow: 0px 0px 20px 3px rgb(45 126 158);
}

.dark_btn_primary{
    padding: 16px 57.5px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;

    background: #ED3A4E;
    border-radius: 6px;
    border: none;
    transition: all .5s linear; 
}

.dark_btn_primary:hover{        
    box-shadow: 0px 0px 20px 1px #ed3a4e;
}

.active {
    background: #1D46F6!important;
}

.active *{
    color: #fff!important;
}

.active button{
    padding: 16px 57.5px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;

    background: #ED3A4E;
    border-radius: 6px;
    border: none;
    transition: all .5s linear; 
}

.active button:hover{
    box-shadow: 0px 0px 20px 1px #ed3a4e;
    border: none;
}

.active li{
    color: rgba(255, 255, 255, 0.502972)!important;
}

.light_btn_primary{
    padding: 16px 57.5px;
    background: #1D46F6;
    border-radius: 6px;
    border: none;

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;    
    text-transform: uppercase;    
    color: #FFFFFF;
    transition: all .5s linear; 
}

.light_btn_primary:hover{        
    box-shadow: 0px 0px 20px 3px rgb(45 126 158);
}

.light_btn_secundary{
    padding: 16px 57.5px;
    border: 1px solid rgba(29, 70, 246, 0.3);
    border-radius: 6px;
    background-color: rgb(0, 0, 0, 0);
    
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;    
    text-align: center;
    text-transform: uppercase;
    color: #1D46F6;    
    transition: all .5s linear;    
}

.light_btn_secundary:hover{    
    border: 1px solid rgba(29, 70, 246, 0.3);
    box-shadow: 0px 0px 20px 5px rgb(29 70 246 / 58%);
}

.header_top_box{    
    display: flex;
    align-items: center;
    justify-content: space-between;
    -moz-column-gap: 106px;
         column-gap: 106px;
    padding: 16px 0;
}

nav {
    display: flex;    
    justify-content: space-between;
    -moz-column-gap: 16px;
         column-gap: 16px;
    flex-grow: 1;
}

.partners{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 55px 0;
    gap: 16px;
}

.text_column3{
    display: flex;
    -moz-column-gap: 62px;
         column-gap: 62px;    
}

.text_column3>div{   
    max-width: 338px;
}

.domain_register{
    background-image: url(../img/block.svg);
    background-size: cover;
    padding: 80px 0;
    margin: 150px 0;
}

.domain_register>.wrapper>*{
   max-width: 570px;
   margin: 0 auto;
}

form{
    display: flex;
    gap: 10px;
    margin-top: 30px!important;
    flex-wrap: wrap;
}

input{
    padding:8px 16px;
    background: #FFFFFF;
    border: 1px solid #DADADA;
    border-radius: 6px;
    min-width: 120px;
    flex-grow: 1;
}

select{
    padding:8px 16px;
    background: #FFFFFF;
    border: 1px solid #DADADA;
    border-radius: 6px;
    min-width: 120px;
    flex-grow: 1;
}

.numbers{
    display: flex;
    gap: 16px;
    justify-content: space-between;
}

.map{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 160px;
}

.map img{
    width: 100%;
}

.map>h2{
    max-width: 390px;
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;
}

.blog_news .card .img{
    aspect-ratio: 16 / 9;    
} 

.blog_news img{
    width: 100%;
} 

.blog_news>div{
    display: flex;
    gap: 30px;
} 

.blog_news{
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.a_hover_none:hover, .logo:hover>A{
    border: none;
}
.a_hover_none, .logo>a{
    border: none;
}

.card{
    background: #F3F6FA;
    border-radius: 12px 12px 12px 12px;
    flex-basis: 270px;
    position: relative;
    transition: all .5s linear;
}

.card:hover{
    box-shadow: 0px 0px 20px 3px rgb(45 126 158);
}

.card>a{
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
}

.card>a:hover{
    border: none;
}

.card_box{
    flex-wrap: wrap;
    justify-content: center;
}

.card .text_box{
    padding: 0 24px 24px 24px;
}

.card .text_box .text{
    margin-top: 44px;
    margin-bottom: 0;
}

.blog_news>h2{
    max-width: 470px;
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;
}

.Newsletter{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 90px;
    flex-wrap: wrap;
}

.Newsletter>div{
    max-width: 370px;
}

.Newsletter form{
    flex-wrap: nowrap;
}

.Newsletter button{    
    padding: 16px 27px;
}

.contact_us{
    max-width: 770px;
    margin: 0 auto;
    text-align: center;
}

footer{
    background: url(../img/footer.svg);
    background-size: cover;
    display: flex;
    padding: 75px 0 50px 0 ;
    flex-direction: column;
    margin-top: 150px;
}

footer>div:nth-child(1){    
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
    border-bottom: 1px solid rgb(255, 255, 255, 0.16);
    margin-bottom: 40px;
}

footer>div:nth-child(2){        
    justify-content: space-between;
    gap: 36px;
}

.menu, .service{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.btn_box{
    display: flex;
    gap:16px;
    flex-wrap: wrap;
    justify-content: center;
}

.btn_menu{
    width: 48px;
    height: 48px;
    border: 1px solid rgba(255, 255, 255, 0.295743);
    border-radius: 6px;   
    background-repeat: no-repeat;
    background-color: rgb(0, 0, 0, 0);
    background-position: center;
    display: none;    
    transition: background 1s linear;
}

.menu_open{
    background-image: url(../img/menu_open.svg);
}

.menu_closed{
    background-image: url(../img/menu_closed.svg);
}

.FAQ{
    width: 100%;
    max-width: 570px;
    margin: 180px auto;
}

.Pricing{
    margin: 150px 0;
}

.Pricing>h2, .Pricing>h5{
    max-width: 700px;
    text-align: center;
    margin: 32px auto ;
}

@media screen and (max-width:989px) {

    .component_text_img{
        padding: 50px 0; 
        margin: 0 auto;
    }
    .domain_register, .FAQ , .Pricing, .map{        
        margin: 70px auto;               
    }

    footer{
        margin-top: 70px;
        padding: 20px 0 30px 0; 
    }

    .btn_menu{
        display: block;
    }

    .header_top_box_ms{    
        background-color: #0000006b;   
        
    }

    .header_top_box{      
        position: relative;
        max-width: none;
        width: 100%;
        padding:  16px 5% 16px 5%;
        box-sizing: border-box;
        transition: background-color 1s linear;
    }

    .nav{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top:100%;    
        background-color: #0000006b;   
        left: 0; 
        padding: 0 0 5% 5%;
        -webkit-backdrop-filter: blur(16px);
                backdrop-filter: blur(16px);
        box-sizing: border-box; 
        visibility: hidden;
        opacity: 0;
        transition: all 1s;
    }

    .nav_ms{       
        visibility: visible;
        opacity: 1;
        transition: all 1s;
    }

    nav+button{
        display: none;
    }

    .text_column3{
        flex-wrap: wrap;
        justify-content: center;
    }

    .text_column3>div{
       max-width: 470px;
    }

    .component_text_img{
        flex-direction: column;
    }

    .component_text_img>.img{
        order: -1;
    }

    .partners{
        flex-wrap: wrap;
        justify-content: center;
    }

    .numbers{
        flex-wrap: wrap;
        justify-content: center;     
        -moz-column-gap: 16px;     
             column-gap: 16px;   
    }

    .numbers>div{
        width: 42%;
    }    

    .ui-tabs-panel {
        flex-wrap: wrap;
        justify-content: center;
    }

    .btn_prev, .btn_next{       
        position: static;       
    }
}

@media screen and (max-width:649px) {
    footer>div{    
        flex-direction: column;
    }

    footer>div{    
        align-items: center;
    }
    
    .social{
        margin-top: 50px;        
    }

    .Newsletter>div{
        max-width: 100%;
    }

    .menu, .service{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

